.header-main {
  padding: 155px 0 124px 0;
}

.header-main-body {
  display: flex;
  row-gap: 34px;
}

.header-main-content {
  flex: 1 1 50%;
}

.header-main-block__title {
  max-width: 488px;
}

.header-main-block__title:not(:last-child) {
  margin: 0 0 36px 0;
}

.header-main-block__title h1 {
  font-family: "Fredoka";
  font-weight: 500;
  font-size: 64px;
  line-height: 120%;
  text-transform: uppercase;
  color: #252525;
}

.header-main-block__text {
  max-width: 743px;
}

.header-main-block__text:not(:last-child) {
  margin: 0 0 60px 0;
}

.header-main-block__text p {
  color: #626262;
}

.header-main-block__buttons {
  display: inline-flex;
}

.header-main-btn img {
  max-width: 100%;
}

.header-main-images {
  flex: 1 1 50%;
}

.header-main-images__block {
  position: relative;
  right: -23%;
  transform: matrix(0.92, 0.38, -0.37, 0.93, 0, 0);
  align-self: flex-end;
}

.header-main-images__block img {
  scale: 1.2;
  max-width: 100%;
}

@media (max-width: 998px) {
  .header-main-body {
    display: flex;
    flex-direction: column;
  }
  .header-main-block__title {
    max-width: 488px;
  }
  .header-main-block__title:not(:last-child) {
    margin: 0 0 36px 0;
  }
  .header-main-block__title h1 {
    font-family: "Fredoka";
    font-weight: 500;
    font-size: 44px;
    line-height: 120%;
    text-transform: uppercase;
    color: #252525;
  }
  .header-main-block__text {
    max-width: none;
  }
  .header-main-block__text:not(:last-child) {
    margin: 0 0 30px 0;
  }
}
@media (max-width: 767.98px) {
  .header-main {
    padding: 140px 0 124px 0;
  }
}
@media (max-width: 424.98px) {
  .header-main {
    padding: 120px 0 124px 0;
  }
}
/*=======================================================*/
.workouts {
  padding: 100px 0 88px 0;
  background: linear-gradient(94.9deg, #FFF5DD 1.6%, rgba(170, 86, 254, 0.32) 38.13%, rgba(254, 86, 217, 0.28) 58.65%, rgba(86, 254, 254, 0.28) 99.73%);
}

.workouts-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 116px;
       column-gap: 116px;
}

.workouts-card {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  align-items: center;
  text-align: center;
}

@media (max-width: 1310px) {
  .workouts-card:not(:last-child) {
    margin: 0 0 45px 0;
  }
}
.workouts-card__image:not(:last-child) {
  margin: 0 0 24px 0;
}

@media (max-width: 1023.98px) {
  .workouts-card__image:not(:last-child) {
    margin: 0 0 0px 0;
  }
}
.workouts-card__image img {
  max-width: 100%;
}

.workouts-card__title h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #000000;
}

.workouts-card__title:not(:last-child) {
  margin: 24px;
}

.workouts-card__text p {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #1B1B20;
}

@media (max-width: 767.98px) {
  .workouts-card__title h3 {
    font-weight: 500;
    font-size: 26px;
    line-height: 120%;
    color: #000000;
  }
  .workouts-card__text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #1B1B20;
  }
}
/*=============================================================*/
.coin {
  padding: 28px 0 135px 0;
}

.coin-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coin-image:not(:last-child) {
  margin: 0 0 56px 0;
}

.coin-image img {
  max-width: 100%;
}

.coin-block-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coin-title:not(:last-child) {
  margin: 0 0 36px 0;
}

.coin-title h2 {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #1B1B20;
}

.pirple {
  color: #D61FDA;
}

.coin-subtitle {
  max-width: 743px;
}

.coin-subtitle p {
  font-size: 24px;
  line-height: 120%;
  color: #626262;
}

@media (max-width: 767.98px) {
  .coin-subtitle {
    max-width: none;
  }
  .coin-subtitle p {
    font-size: 18px;
  }
  .coin-title h2 {
    font-size: 42px;
  }
}
/*===============================================*/
.page-girl {
  padding: 24px 0 100px 0;
}

.girl-body {
  display: flex;
  align-items: center;
}

.girl-block-images {
  flex: 1 1 50%;
  margin: 0 0 0 -70px;
}

.girl-image img {
  max-width: 100%;
}

.girl-content {
  flex: 1 1 50%;
}

.girl-title h2 {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #1B1B20;
}

.girl-subtitle p {
  font-size: 24px;
  line-height: 120%;
  color: #626262;
  text-align: center;
}

.girl-title:not(:last-child) {
  margin: 0 0 36px 0;
}

.girl-subtitle:not(:last-child) {
  margin: 0 0 50px 0;
}

@media (max-width: 1023.98px) {
  .girl-body {
    display: flex;
    align-items: stretch;
    flex-direction: column-reverse;
  }
}
@media (max-width: 767.98px) {
  .coin-subtitle {
    max-width: none;
  }
  .girl-subtitle p {
    font-size: 18px;
  }
  .girl-title h2 {
    font-size: 42px;
  }
}
/*==============================================*/
.page-step {
  padding: 60px 0;
  background: linear-gradient(94.9deg, #FFF5DD 1.6%, rgba(170, 86, 254, 0.32) 38.13%, rgba(254, 86, 217, 0.28) 58.65%, rgba(86, 254, 254, 0.28) 99.73%);
}

.step-block__title h2 {
  font-weight: 700;
  font-size: 56px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.step-block__title:not(:last-child) {
  margin: 0 0 48px 0;
}

.step-cards {
  display: flex;
  -moz-column-gap: 100px;
       column-gap: 100px;
}

@media (max-width: 1110px) {
  .step-cards {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 100px;
         column-gap: 100px;
    row-gap: 38px;
  }
}
.step-card {
  max-width: 400px;
}

.step-card_title h3 {
  color: #000;
  font-weight: 600;
  text-align: center;
  font-size: 24px;
}

.step-card_title:not(:last-child) {
  margin: 0 0 24px 0;
}

.step-item {
  list-style: inside;
  font-weight: 400;
  color: #000;
  font-size: 18px;
}

.step-item {
  margin: 0 0 8px 0;
}

@media (max-width: 767.98px) {
  .step-block__title h2 {
    font-size: 42px;
  }
}/*# sourceMappingURL=main.css.map */