.header {
    display: flex;
    align-items: center;
    min-height: 115px;
    padding: 0 69px 0 69px;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 50;
}
@media (max-width:767.98px) {
    .header{
        min-height: 100px;
    }
    @media (max-width:424.98px) {
        .header{
            min-height: 80px;
        }
    }
}
.logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    background: linear-gradient(180deg, #14125F 43.75%, rgba(30, 28, 117, 0.21) 79.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu {
    display: flex;
    align-items: center;
}
.nav{
    flex: 1 1 auto;
    justify-content: center;
}
.menu__list {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 118%;
    text-transform: uppercase;
    color: #1B1B20;
}
.nav-item:hover{
    text-decoration: underline;
    transition: all .3s ease;
}
.header-block-buttons {
}
.btn {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px 32px;
    font-weight: 700;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(180deg, #8B1CFB 0%, #B02CDF 100%);
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    transition: .3s ease;

}
.btn:hover{
    transition: .3s ease;
    background: linear-gradient(180deg, #972eff 0%, #ba46e4 100%);
}
@media (max-width:1320px) {
    .header{
        padding: 0 34px 0 34px;
    }
    .btn{
        padding: 13px 24px;
    }
}